global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - alert-rules.yml

scrape_configs:
  - job_name: __PROMETHEUS_JOB_NAME__
    scheme: https
    static_configs:
      - targets: ['__PROMETHEUS_SCRAPE_TARGET__']
    metrics_path: /metrics
    scrape_interval: 10s
